.container {
    max-width: 100%;
    padding: 0;
    margin: 0;

  }

  @media only screen and (max-width: 1000px) {
    
    .container{
      margin-left: 0;
      margin-right: 0;
      max-width: 100%;
      margin-top: 20px;
    }
    
  }

  
  .header { 
    display: inline-block;
    width: 100%;
    flex-direction: column;
    align-items: center;
    background: rgb(249,69,179); background: radial-gradient(circle, rgba(249,69,179,1) 0%, rgba(217,0,133,0.9346332282913166) 35%, rgba(217,0,133,0.07188813025210083) 100%); 
    padding-top: 30px;
    padding-bottom: 20px;
    padding-left: 5%;
    padding-right: 5%;
  }

  .logoa{ display: block; width: 300px; float: left; }

  
  .backToHome {
    margin: 3rem 0 0;
  }