html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
  font-size: 30px;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}
.hide{
    display: none;
}
.show{
    display: block;
    background: antiquewhite;
    padding: 20px 5px;
    text-align: center;
}

.button {
  cursor: pointer;
  background-color: #4CAF50; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.col2{ display: flex; padding: 20px; }
.col2 div{ padding: 20px 40px; }
.cardinfo {padding: 0 !important; margin-bottom: 20px; }
.cardinfo input { margin-bottom: 0 !important; margin-right: 10px; }
label{display: block;}
input{ display: block; }

.menu{ display: flex; }
.menu li{ padding: 0 30px; font-size: 1rem; list-style: none;}
.menu li a{ font-size: 1rem;}
.mt0{margin-top: 0 !important; }
.pt0{padding-top: 0 !important; }





.registration-container {
  width: 600px;
  margin: 50px 0;
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px #ccc;
}

.date-selector{
  width: 600px;
  margin: 50px 0;
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px #ccc;
  text-align: center;
}

.date-changer{ font-size: 25px; }
.date-changer a{ text-decoration: none; cursor: pointer; }
.timeCardCnt{ display: flex; width: 600px; flex-wrap: wrap; padding: 30px; }
.timeCardCnt div{ padding: 5px 10px; background-color: #6a6a6a; margin-bottom: 20px; }
.timeCardCnt div.available{ background-color: #3e8e41; cursor: pointer; border-left: 1px solid #2b2b2b; border-right: 1px solid #2b2b2b; }

.review-container{
  margin: 50px 0 50px 60px;
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px #ccc;
}

input[type="text"], input[type="email"], input[type="password"], input[type="tel"],textarea, select {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.filter-container select{
  margin-bottom: 0;
}
.filter-container{ text-align: center; }

label {
  font-weight: bold;
  margin-bottom: 10px;
  display: block;
}

input[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #3e8e41;
}

.error {
  color: red;
  margin-top: 10px;
}

.service{ display: flex; align-items: center; }
.service input[type="text"]{ width: 60px;  }
.service input[type="checkbox"]{ position: relative; top: -5px; }
.pricebox{ margin-left: 20px; display: flex; margin-top: 13px; } 
.admin-menu { margin-right: 50px; }
.admin-menu a{ display: block; font-size: 16px; }
.main-admin-layout{ display: flex;}

.fullwidth{ width: 150%;}



/* Basic Button Style */
.buttont {
  display: inline-block;
  font-family: 'Roboto', sans-serif; /* You can use any font family you prefer */
  font-size: 16px;
  font-weight: 600;
  color: #FFFFFF;
  background-color: #4CAF50;
  padding: 12px 24px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  transition: background-color 0.3s ease;
}

/* Buttont Hover Style */
.buttont:hover {
  background-color: #3E8E41;
}

/* Buttont Active Style */
.buttont:active {
  background-color: #2C5D33;
}

.buttont_active {
  background-color: #c4c4c4;
}
.hover_none:hover{
  background-color: #c4c4c4;
  text-decoration: unset;
  cursor: default;
}

.buttont .tooltiptext {
  visibility: hidden;
  width: 250px;
  background-color: #c4c4c4;
  color: #272727;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  margin-left: -220px;
  margin-top: 30px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.buttont:hover .tooltiptext {
  visibility: visible;
}

.mtop10{ margin-top: 10px; }
.filterbtn{ padding-top: 6px; padding-bottom: 8px; margin-top: 13px; }


.menu{ color: #000; font-size: 16px; cursor: pointer; padding: 5px 5px; border-radius: 5px; border: 1px solid #ccc; }
.menu svg{ margin-top: 2px; margin-left: 5px; }

.mega-menu {
  justify-content: space-around;
  border: 1px solid #ccc;
  padding: 16px;
  margin-bottom: 16px;
  position: absolute;
  background: #faead7;
  z-index: 9;
}

.mega-menu-column {
  padding: 0 16px;
}

.mega-menu-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.mega-menu-column li {
  margin-bottom: 8px;
}

.mega-menu-column button {
  background: none;
  border: none;
  cursor: pointer;
  color: #000000;
  padding: 0;
  font-size: 16px;
}

.mega-menu-column button:hover {
  text-decoration: underline;
}

/* Add this to your existing MegaMenu.css */
.mega-menu-title {
  background: none;
  border: none;
  cursor: pointer;
  color: #333;
  font-size: 1.1em;
  font-weight: bold;
  text-align: left;
  width: 100%;
  padding: 4px 0;
}

.mega-menu-title:hover {
  text-decoration: underline;
}

/* Add this to your existing MegaMenu.css */
.sub-menu {
  margin-left: 16px;
  padding-left: 8px;
  border-left: 1px solid #ccc;
}
.sub-menu li{ margin-left: 20px;}

.mega-menu li{ margin-left: 20px; }

.react-datepicker-wrapper input{ position: relative; top: 9px; }

.viewbyicon{ width: 100%; text-align: right; cursor: pointer; }
.viewbyicon img{ display: inline; }
.anchor{ cursor: pointer; color: #3e8e41; }
.anchor:hover{ text-decoration: underline; }

.selected_label {
  background: #000000;
  padding: 20px;
  text-align: center;
  color: white;
}
